@font-face {
  font-family: CircularBook;
  src: url(../fonts/CircularSpotifyText-Book.otf)
}

@font-face {
  font-family: CircularBold;
  src: url(../fonts/CircularSpotifyText-Bold.otf)
}

@font-face {
  font-family: CircularLight;
  src: url(../fonts/CircularSpotifyText-Light.otf);
}


* { 
  font-family: CircularLight;
  color: var(--secondary);
}

.wrapper { 
  padding: 20px;
  background-color: var(--primary)
}

button { 
  background-color:  #232323;
  outline: none; 
  border: none;

}
body {
  background-color: var(--primary);
}
ul {
  text-decoration: none;
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

a:hover {
  color: var(--secondary);
}


.btn {
  width: 100px !important;
  height: 30px !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  border-radius: 4px !important;
  background-color: var(--primary-green) !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* Scrollbar Stuff */ 

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: var(--primary);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: var(--primary);
  border-radius: 4px;
}


::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #454545;
  border-radius: 4px;
}



@media screen and (max-width: 768px) {

  ::-webkit-scrollbar {
    display: none;
  }

}