@font-face {
  font-family: CircularBook;
  src: url(../fonts/CircularSpotifyText-Book.otf)
}

@font-face {
  font-family: CircularBold;
  src: url(../fonts/CircularSpotifyText-Bold.otf)
}

@font-face {
  font-family: CircularLight;
  src: url(../fonts/CircularSpotifyText-Light.otf);
}

@font-face {
  font-family: WalsheimLight;
  src: url(../fonts/GTWalsheimPro-Light.woff);
}

@font-face {
  font-family: WalsheimRegular;
  src: url(../fonts/GTWalsheimPro-Regular.woff);
}

@font-face {
  font-family: WalsheimMedium;
  src: url(../fonts/GTWalsheimPro-Medium.woff);
}

@font-face {
  font-family: WalsheimBold;
  src: url(../fonts/GTWalsheimPro-Bold.woff);
}

@font-face {
  font-family: WalsheimUltraBold;
  src: url(../fonts/GTWalsheimPro-UltraBold.woff);
}



::-moz-selection { /* Code for Firefox */
  background: var(--primary-green);
}

::selection {
  background: var(--primary-green);
}


* { 
  font-family: CircularLight;
  color: var(--secondary);
}

.blur { 
  opacity: 40%;
}

.wrapper { 
  padding: 20px 50px;
  background-color: var(--primary);
  background: linear-gradient(#2c2c2c, #121212 30%);
}


button { 
  background-color:  #232323;
  outline: none; 
  border: none;

}
body {
  background-color: var(--primary);
}
ul {
  text-decoration: none;
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

a:hover {
  color: var(--secondary);
}


.btn {
  width: 100px !important;
  height: 30px !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  border-radius: 4px !important;
  background-color: var(--primary-green) !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* Scrollbar Stuff */ 

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: var(--primary);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: var(--primary);
  border-radius: 4px;
}


::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #454545;
  border-radius: 4px;
}



@media screen and (max-width: 768px) {

  .wrapper { 
    padding: 20px; 
  }
  ::-webkit-scrollbar {
    display: none;
  }

}