
.input { 
    margin: 30px 0px;
    padding-left: 15px;
    border: none;
    width: 85%; 
    height: 45px; 
    border-radius: 12px;
    outline: none; 
    font-family: CircularBold;
    color: #343434;
}


input::placeholder {
    font-family: CircularBook; 
    color: var(--darkGrey);
  }


  @media screen and (max-width: 768px) {
    .input { 
        margin: 30px 0px 20px 0px;
        padding-left: 15px;
        border: none;
        width: 95%; 
        height: 45px; 
        border-radius: 12px;
        outline: none; 
        font-family: CircularBold;
        color: #343434;
    }
       

  }
  