.container {
    border-radius: 4px;
    width: 250px; 
    height: 355px;
    margin-right: 30px;
    background-color: var(--darkGrey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentWrapper { 
    padding: 10px 20px;
    width: 250px; 
    display: flex; 
    flex-direction: column;

}

.categoryHeadline { 
    font-family: CircularBold; 
    font-size: 115%;
    padding-bottom: 4%;
    color: var(--primary-green);
}

.mainHeadline { 
    font-family: CircularBold;
    line-height: 110%;
    font-size: 220%;
    padding-bottom: 4%;
}

.description { 
    font-family: CircularBook;
    font-size: 90%;
    line-height: 170%;
    margin-bottom: 5%;
    color: var(--grey);
}

.btn { 
    background-color: var(--primary-green);
    color: var(--secondary); 
    border-radius: 4px;
    height: 35px;

}

@media screen and (max-width: 768px) {

    .container {
        border-radius: 4px;
        height: 355px;
        width: 250px; 
        background-color: var(--darkGrey);
        display: flex; 
        flex-direction: column;
        margin: 0px 30px 0px 0px;
    }
    
    .categoryHeadline { 
        font-family: CircularBold; 
        font-size: 100%;
        padding-bottom: 2%;
        color: var(--primary-green);
    }
    
    .mainHeadline { 
        font-family: CircularBold;
        line-height: 110%;
        font-size: 200%;
        padding-bottom: 2%;
    }
    
    .description { 
        font-family: CircularBook;
        font-size: 90%;
        margin-bottom: 5%;
        color: var(--grey);
    }
    
    .btn { 
        background-color: var(--primary-green);
        color: var(--secondary); 
        border-radius: 4px;
        height: 35px;
    
    }
    

} 