/*Social Row*/ 

.thirdRow { 
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}

.socialMessage { 
    width: 90%;
    padding-top: 15px;
    text-align: center;
    font-family: CircularBook;
    font-size: 110%;;
}
.socialRowContainer { 
    padding: 20px;
    background-color: var(--darkGrey);
    border-radius: 4px;
    display: flex !important;
    justify-content: space-around !important;
}

.iconContainer { 
    width: 40px; 
    height: 40px;
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343434;
    border-radius: 4px;
}
.icon { 
    font-size: 150%;
}

.iconShareContainer { 
    margin-left: 10px;
    width: 25px; 
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343434;
}
.iconShare { 
    max-width: 15px;
}

.wrapper { 
    display: flex; 
    justify-content: center;
    margin: 50px 0px;
   
}

.quizPanelWrapper {
    width: 40%;
    border-radius: 4px;
    background-color: #343434;
    display: flex; 
    justify-content: center;
    align-items: center;
}
  .quizSectionContainer{ 
    padding: 25px 25px 15px 25px;
    width: 100%;   
}


.thisIsImage { 
    max-width: 80px;
    margin: 50px 30px 50px 20px;
    border-radius: 4px;
}

.thisIsName { 
    font-family: CircularBold;
    font-size: 120%;
}

.quizInfoContainer { 
    width: 100%;
    background-color: var(--darkGrey);
    border-radius: 4px;
    height: 115px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.infoTextContainer { 
    display: flex; 
    flex-direction: column;
}
span { 
    font-family: CircularBold;
}


/*Row Two */ 

.rowResults { 
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.contentWrapper { 
    width: 100%; 
    display: flex;
    align-items: center;
    padding: 20px;
}

.percentageDisplayContainer { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: auto;
    background-color: var(--darkGrey);
    border-radius: 4px;
    margin-bottom: 20px;
}


.percentageContainer { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343434;
    border-radius: 4px;
    width: 70px; 
    height: 70px; 
    margin-right: 20px;
    
}

.percentage { 
    text-align: center;
    font-family: CircularBold;
    font-size: 125%;
    color: var(--primary-green);
}

.noteAndIconsContainer { 
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.noteContainer { 
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note { 
    text-align: center;
    font-family: CircularBook;
    font-size: 100%;
    line-height: 180%;
}


.statsDisplayContainer { 
    width: 100%; 
    
    background-color: var(--darkGrey);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titleContainer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title { 
    font-family: CircularBold;
    font-size: 130%;
    
}

.statsContainer { 
    text-align: center;
    padding: 30px;
}

.statLine { 
    font-family: CircularBook;
    font-size: 110%;
    margin-bottom: 10px;
    color: var(--primary-green);
}

.rowButtons {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
 }

 .btn { 
    width: 100%; 
    border-radius: 4px;
    background-color: var(--primary-green);
    height: 40px;
    font-family: CircularBook;
}

 



/* Media Queries */

@media screen and (max-width: 768px) {

    .wrapper { 
        display: flex; 
    
    }

    .quizPanelWrapper {
        width: 95%;
        border-radius: 4px;
        background-color: #343434;
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    .quizSectionContainer{ 
        width: 90%;
        padding: 25px 0px 15px 0px;   
    }

    .thisIsImage { 
        max-width: 75px;
        margin: 50px 20px 50px 20px;
    }
    
    .thisIsName { 
        font-family: CircularBold;
        font-size: 110%;
    }
    

  }
  