.navbar { 
  display: flex;
  align-items: center;
}

.padding {
  height: 100vh;
}

.icon { 
  margin-right: 50px;
}

.icon:hover { 
  cursor: pointer;
}

.contentContainer {
  background-color: var(--primary);
  height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bigTitle {
  color: var(--secondary);
  font-size: 400%;
  font-weight: 800;
  margin-bottom: 3%;
}

.smallTitle {
  font-size: 150%;
  color: var(--grey);
  font-weight: 500;
  margin-bottom: 4%;
}

.instructionsLink { 
  padding-top: 2px;
  margin-right: 50px; 
  font-size: 105%;
  font-family: CircularBook;
}

.instructionsLink:hover { 
  cursor: pointer;
}

.btn {
  width: 150px !important;
  height: 40px !important;
  padding: 10px !important;
  font-size: 1rem !important;
  font-family: CircularBook !important;
  font-weight: 500 !important;
  border-radius: 4px !important;
  background-color: var(--primary-green) !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 768px) {

  .icon { 
    margin-right: 10px;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px !important;
    height: 35px !important;
    font-size: 1rem !important;
    font-family: CircularBook !important;
    font-weight: 500 !important;
    border-radius: 4px !important;
    background-color: var(--primary-green) !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
  
  

} 