.padding {
  height: 100vh;
}
.contentContainer {
  background-color: var(--primary);
  height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bigTitle {
  color: var(--secondary);
  font-size: 400%;
  font-weight: 800;
  margin-bottom: 3%;
}

.smallTitle {
  font-size: 150%;
  color: var(--grey);
  font-weight: 500;
  margin-bottom: 4%;
}


.btn {
  width: 150px !important;
  height: 35px !important;
  font-size: 1rem !important;
  font-family: CircularBook !important;
  font-weight: 500 !important;
  border-radius: 4px !important;
  background-color: var(--primary-green) !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
