.container  { 
    height: auto;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.textSectionContainer { 
    display: flex;
    flex-direction: column;
    width: 45%;
}

.stepNumber { 
    color: var(--hover-green);
    font-size: 150%;
    font-family: WalsheimMedium;
    margin-bottom: 15px;
}

.stepName { 
    font-size: 250%;
    margin-bottom: 15px;
    font-family: WalsheimBold;
}

.stepDescription { 
    font-size: 125%; 
    font-family: WalsheimRegular;
    line-height: 2em;
}

.stepTwoSection { 
    display: flex;

}

