.countdownBarContainer { 
    width: 100%; 
    display: flex; 
    align-items: center;
    position: relative; 
    height: 10px; 
    background-color: var(--grey);
    border-radius: 8px;
    margin-bottom: 20px;
}

.countdownBar { 
    position: absolute; 
    height: 10px; 
    border-radius: 8px;
    
    background-color: var(--primary-green);
    
    /* for chrome and safari*/
    -webkit-animation-duration: 10s;
    transition-timing-function: linear;
    -webkit-animation-name: slidein;

    /*for firefox*/
    -moz-animation-duration: 10s;
    transition-timing-function: linear;
    -moz-animation-name: slidein;

      /* for opera*/
    -o-animation-duration: 10s;
    transition-timing-function: linear;
    -o-animation-name: slidein;

      /* Standard syntax*/
    animation-duration: 10s;
    transition-timing-function: linear;
    animation-name: slidein;

}

@-webkit-keyframes slidein {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@-moz-keyframes slidein {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
 @-o-keyframes slidein {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
  @keyframes slidein {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@-webkit-keyframes slidein {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .countdownBarContainer {  
        height: 8px; 
    }

    .countdownBar { 
        height: 8px;   
        
    }

  }
  