

.wrapper {
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    height: 100vh;
    background-color: var(--primary);
    background: linear-gradient(#2c2c2c, #121212 30%);
    z-index: 9999;
    overflow-y: scroll;
}

.headerContainer { 
    padding-left: 30px;
}

.relative { 
    position: relative;
}

.searchPageTitle { 
    margin-top: 20px;
    font-family: CircularBold;
    font-size: 180%;
    color: var(--secondary);
}
.xIcon { 
    position: absolute;
    top: 0px;
    right: 50px;
}
.allPlaylistsContainer { 
    display: flex;
    width: 90%;
    padding-left: 25px;
}

.playlistContainer { 
    display: flex; 
    justify-content: center;
    margin-right: 30px;
    width: 250px;
    border-radius: 4px;
}


.contentContainer {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 250px; 
    height: 320px;
    margin-bottom: 20px;
   
}

.img { 
    border-radius: 4px;
    max-width: 200px;
    margin: 20px 0px;
}

.imageContainer { 
    margin: 0; 
    padding: 0;
}

.btn { 
    border-radius: 4px;
    margin-bottom: 30px;
    border: none; 
    outline: none;
    background-color: #1b1b1b;   
    transition: background-color 0.3s;
    box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 3px 4px 0px hsla(0,0%,0%,0.14), 
		0px 3px 3px -2px hsla(0,0%,0%,0.12), 
		0px 1px 8px 0px hsla(0,0%,0%,0.2);
}

.btn:hover{ 
    background-color: var(--darkGreyHover);
    cursor: pointer;
}

.textContainer { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: auto;
    overflow-y: hidden;
}

.name { 
    font-family: CircularBold; 
    font-size: 100%; 
    color: var(--secondary);
    text-align: start;
    margin-bottom: 5px;
}

.description { 
    font-family: CircularBook;
    font-size: 90%;
    color: var(--grey);
    text-align: start;
    max-height: 3em; /* 3 lines */
    overflow: hidden;
    text-overflow: ellipsis;

}

.noResultsContainer { 
    width: 90%;
    font-size: 120%;
}

.noResultsMessage { 
    color: var(--grey);
    font-size: 150%;
    font-family: WalsheimBold;
}



@media screen and (max-width: 768px) {

    .container { 
        width: 100%;
        padding-left: 0px !important; 
        padding-right: 0px !important;
    }
    
    .section { 
        margin: 20px 0px 30px 0px;
        display: flex;
        flex-direction: row;
        align-items: center; 
        overflow-x: scroll;
        
    }

    .headerContainer { 
        padding-left: 15px;
    }
    
    .btn { 
        background-color: transparent;
        margin-bottom: 10px;
    }
    
    .allPlaylistsContainer { 
        padding-left: 15px;
        display: flex;
        justify-content: center;
        width: 100%; 
    }
        
    .image {
        width: 100px; 
        height: 100px;
        border-radius: 4px;
    }
   

    .xIcon { 
        position: absolute;
        top: 0px;
        right: 20px;
    }

    .noResultsContainer { 
        width: 90%;
        padding-left: 5px;
    }

    .noResultsMessage { 
        font-size: 100%;
    }

  }
  

