.container { 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.siteTitle {
    font-family: CircularBold;
    color: var(--secondary);
    font-size: 25px;
   
  }
  
  .greenText {
    font-family: CircularBold;
    color: var(--primary-green);
    font-size: 2.2rem;
   
  }