.container { 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.siteTitle {
  display: flex; 
  align-items: center;
    font-family: CircularBold;
    color: var(--secondary);
    font-size: 25px;
   
  }
  
  .greenText {
    font-family: CircularBold;
    color: var(--primary-green);
    font-size: 2.2rem;
  }

  .logo { 
    max-width: 120px;
  }