.container { 
    margin-top: 50px;
    position: relative;
    display: flex; 
    justify-content: space-between;
    height: 90vh;
}

.mainBlockContainer { 
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 20px;
}

.mainLineOne { 
    font-size: 350%;
    font-family: WalsheimBold;
}

.mainLineTwo { 
    font-size: 225%;
    font-family: WalsheimRegular;
    margin-bottom: 10px;
}

.findQuizLink { 
    font-size: 170%;
    font-family: WalsheimLight;
}

.findQuizLink:hover { 
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .container { 
        margin-top: 40px;
        position: relative;
        display: flex; 
        justify-content: center;
        height: 60vh;
    }
   
.mainBlockContainer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 10px;
}

.mainLineOne { 
    text-align: center;
    font-size: 350%;
    font-family: WalsheimBold;
}

.mainLineTwo { 
    text-align: center;
    font-size: 180%;
    font-family: WalsheimRegular;
    margin-bottom: 10px;
}

.findQuizLink { 
    margin-top: 15px;
    font-size: 130%;
    font-family: WalsheimLight;
}

.findQuizLink:hover { 
    cursor: pointer;
    text-decoration: underline;
}

    
    
  
  } 