/* Arrow Stuff */ 
body {
    background-color: #000;
  }
  
  .pageScroll .btnCircle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  
  .pageScroll .btnCircle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  
  @keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
 
  .animated { 
    color: rgba(255, 255, 255, 0.6);
  }

  .animated:hover { 
    color: white;
  }
  
   

.container { 
    margin-top: 60px;
    position: relative;
    display: flex; 
    justify-content: center;
    height: 60vh;
    margin-bottom: 100px;
    text-align: center;
}

.mainBlockContainer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    
}

.mainLineOne { 
    font-size: 475%;
    font-family: WalsheimBold;
}

.mainLineTwo { 
    font-size: 325%;
    font-family: WalsheimRegular;
    margin-bottom: 10px;
}

.findQuizLink { 
    font-size: 170%;
    font-family: WalsheimLight;
}

.findQuizLink:hover { 
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .container { 
        margin-top: 40px;
        position: relative;
        display: flex; 
        justify-content: center;
        height: 60vh;
    }
   
.mainBlockContainer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 10px;
}

.mainLineOne { 
    text-align: center;
    font-size: 350%;
    font-family: WalsheimBold;
    margin-bottom: 10px;
}

.mainLineTwo { 
    text-align: center;
    font-size: 180%;
    font-family: WalsheimRegular;
    margin-bottom: 20px;
}

.findQuizLink { 
    margin-top: 15px;
    font-size: 130%;
    font-family: WalsheimLight;
}

.findQuizLink:hover { 
    cursor: pointer;
    text-decoration: underline;
}

    
    
  
  } 