.container { 
    height: 200px; 
    background-color: var(--primary);  
    margin: 0px !important; 
    padding: 0px !important; 
}

.column { 
    margin: 0px !important;
    display: flex;
    flex-direction: column;
}

.columnTitle { 
    font-family: CircularBold;
    color: var(--grey);
    font-size: 170%;
    margin-bottom: 20px;
}



.columnText { 
    font-size: 110%;
    color: var(--secondary);
    line-height: 170%;
}

.iconsContainer { 
    display: flex;
    
}

.iconContainer { 
    margin-right: 10px;
}

.icon:hover {
    color: var(--primary-green);
    cursor: pointer;
}