.container { 
    height: 200px; 
    background-color: var(--primary);  
    margin: 0px !important; 
    padding: 0px !important; 
}

.siteTitle {
    text-align: center;
    font-family: CircularBook;
    color: var(--secondary);
    font-size: 1.75rem;
   
  }
  
  .greenText {
    font-family: CircularBold;
    color: var(--primary-green);
    font-size: 1.75rem;
   
  }

.column { 
    margin: 0px !important;
    display: flex;
    flex-direction: column;
}

.columnTitle { 
    font-family: CircularBold;
    color: var(--grey);
    font-size: 170%;
    margin-bottom: 20px;
}



.columnText { 
    font-size: 110%;
    color: var(--secondary);
    line-height: 170%;
}

.iconsContainer { 
    display: flex;
    
}

.iconContainer { 
    margin-right: 10px;
}

.icon:hover {
    color: var(--primary-green);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container { 
        height: 100px; 
        background-color: var(--primary);  
        margin: 0px !important; 
        padding: 0px !important; 
    }
    
    .columnTitle { 
        font-family: CircularBold;
        color: var(--grey);
        font-size: 120%;
        margin: 20px 0px 10px 0px;
        text-align: center;
    }

    .columnText { 
        font-size: 90%;
        text-align: center;
        color: var(--secondary);
        line-height: 170%;
    }

    .iconsContainer { 
       width: 100%;
       justify-content: center; 
    }

    .iconContainer { 
        margin: 0px 10px;
    }
    
    

} 