.container { 
    height: 200px; 
    background-color: var(--primary);  
    margin: 0px !important; 
    padding: 0px !important; 
}

.siteTitle {
    text-align: center;
    font-family: CircularBook;
    color: var(--secondary);
    font-size: 1.75rem;
   
  }
  
  .greenText {
    font-family: CircularBold;
    color: var(--primary-green);
    font-size: 1.75rem;
   
  }

.column { 
    margin: 0px !important;
    display: flex;
    flex-direction: column;
}

.columnTitle { 
    font-family: CircularBold;
    color: var(--grey);
    font-size: 170%;
    margin-bottom: 20px;
}



.columnText { 
    font-size: 110%;
    width: 85%;
    color: var(--secondary);
    font-family: CircularBook;
    line-height: 170%;
}

.iconsContainer { 
    display: flex;
    
}

.iconContainer { 
    margin-right: 30px;
}

.icon:hover {
    color: var(--primary-green);
    cursor: pointer;
}

.inputContainer { 
    margin-top: 10px;
    width: 100%;
}

.input { 
    padding: 5px 10px;
    color: black;
    width: 60%;
    height: 40px;
}

.btn { 
    font-family: CircularBook !important;
  font-weight: 500 !important;
  border-radius: 4px !important;
  background-color: var(--primary-green) !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  margin-left: 10px;
    width: 80px;
    height: 40px;
}

@media screen and (max-width: 768px) {
    .logo { 
        max-width: 120px;
        margin-left: 35px;
      }

      .siteTitle { 
        font-family: CircularBold;
      }
    .container { 
        height: 100px; 
        background-color: var(--primary);  
        margin: 0px !important; 
        padding: 0px !important; 
    }
    
    .columnTitle { 
        font-family: CircularBold;
        color: var(--grey);
        font-size: 120%;
        margin: 20px 0px 10px 0px;
        text-align: center;
    }

    .columnText { 
        font-size: 90%;
        width: 100%;
        text-align: center;
        color: var(--secondary);
        line-height: 170%;
    }

    .iconsContainer { 
       width: 100%;
       justify-content: center; 
    }

    .iconContainer { 
        margin: 10px 20px;
    }
    
    

} 