

.wrapper { 
    display: flex; 
    justify-content: center;
}

.quizPanelWrapper {
    width: 70%;
    border-radius: 4px;
    background-color: #343434;
    display: flex; 
    justify-content: center;
    align-items: center;
}
  .quizSectionContainer{ 
    padding: 25px 25px 15px 25px;
    width: 100%;   
}


.thisIsImage { 
    max-width: 75px;
    margin: 50px 20px 50px 20px;
}

.thisIsName { 
    font-family: CircularBold;
    font-size: 130%;
}

.quizInfoContainer { 
    width: 100%;
    background-color: var(--darkGrey);
    border-radius: 4px;
    height: 125px;
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.infoTextContainer { 
    display: flex; 
    flex-direction: column;
}
span { 
    font-family: CircularBold;
}

.scoreIdentifier { 
    color: var(--grey); 
    font-family: CircularBook;
    font-size: 110%;
}

.answers { 
    display: flex; 
    flex-wrap: wrap;
}


.answerContainer { 
    padding: 0px 10px 10px 0px;
    width: 50%;
    display: flex; 
    flex-direction: row; 
    
}

.btnAnswerOption { 
    display: flex;
    width: 100%;
    height: 75px;
    border-radius: 4px;
}



.img { 
    width: 100%; 
    border-radius: 4px;
}

.imgContainer { 
    max-width: 75px;
}

.answerText { 
    width: 80%;
    font-size: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track { 
    width: 85%;
}


/* Media Queries */

@media screen and (max-width: 768px) {

    .wrapper { 
        display: flex; 
    
    }

    .quizPanelWrapper {
        width: 90%;
        border-radius: 4px;
        background-color: #343434;
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    .quizSectionContainer{ 
        width: 90%;
        padding: 25px 0px 15px 0px;   
    }

    .thisIsImage { 
        max-width: 75px;
        margin: 50px 20px 50px 20px;
    }
    
    .thisIsName { 
        font-family: CircularBold;
        font-size: 110%;
    }

    .scoreIdentifier { 
        color: var(--grey); 
        font-family: CircularBook;
        font-size: 100%;
    }
    

    .answers { 
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
    }

    .answerContainer { 
        width: 100%;
        display: flex; 
        align-items: center;
        flex-direction: row; 
        
    }
    .imgContainer { 
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 60px;
        margin: 0px 15px 0px 5px;
    }
    .answerText { 
        font-size: 85%;
        font-family: CircularLight;
        font-weight: 600;
        display: flex;
        justify-content: center;
    
    }

    .track { 
        width: 90%;
    }

  }
  