.thisIsImage { 
    max-width: 75px;
    margin: 50px 20px 50px 0px;
}

.thisIsName { 
    font-family: CircularBold;
    font-size: 130%;
}

.quizInfoContainer { 
    width: 100%;
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.infoTextContainer { 
    display: flex; 
    flex-direction: column;
}
span { 
    font-family: CircularBold;
}

.scoreIdentifier { 
    color: var(--grey); 
    font-family: CircularBook;
    font-size: 110%;
}

.answerContainer { 
    width: 100%;
    display: flex; 
    flex-direction: row; 
}

.btnAnswerOption { 
    display: flex;
    width: 100%;
    height: 75px;
    margin-bottom: 1rem;
}



.img { 
    width: 100%; 
}
.imgContainer { 
    max-width: 75px;
}

.answerText { 
    width: 100%;
    font-size: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* Media Queries */

@media screen and (max-width: 768px) {

    .imgContainer { 
        max-width: 75px;
        margin-right: 20px;
    }
    .answerText { 
        font-size: 90%;
        font-family: CircularBook;
        white-space:nowrap;
        overflow-x: hidden;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
    
    }

  }
  