:root {
  --primary: #121212;
  --secondary: #ffffff;
  --darkGrey: #1b1b1b;
  --darkGreyHover: #232323;
  --primary-green: #1db954;
  --hover-green: #1bcb59;
  --grey: rgb(177, 176, 176);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
