.container { 
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
}

.section { 
    margin: 20px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    overflow-x: scroll;
    
}

.btn { 
    background-color: transparent;
}

.allPlaylistsContainer { 
    display: flex;
}
    
.image {
    width: 150px; 
    height: 150px;
    border-radius: 4px;
}

.viewAllBtn { 
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px; 
    height: 150px;
    border-radius: 4px;
    margin: 1px 6px;
    background-color: var(--darkGreyHover);
}



.viewAllText { 
    font-size: 120%;
    font-family: CircularBold;
    margin-bottom: 10px;
}

  